{{choices}}
<div class='chapter-list'>
  {{#currentChapter}}
    <div id='{{id}}' class='chapter-block' on-click="select">
      <h4 class='chapter-author' >author: {{author}}</h4>

      {{#if prompt}}
        <h6 class='chapter-prompt'>lead-in: {{prompt}}</h4>
      {{else}}
        <input class='prompt-input' value='{{prompt}}' placeholder='chapter prompt'>
        <input type='button' value='submit' on-click='addPrompt:{{id}}, {{prompt}}'>
      {{/if}}

      {{#if episode}}
        <div class='chapter-episode'>episode: {{episode}}</div>
      {{else}}
        <textarea value='{{episode}}' placeholder='add to the adventure...'></textarea>
        <input type='button' value='submit' on-click='addEpisode:{{id}}, {{episode}}'>
      {{/if}}

    </div>
  {{/currentChapter}}
</div>
<div>
  <form name='chapter-form' class='chapter-form' on-submit='post'>
    <input class='author-input' value='{{author}}' placeholder='your name' required>
    <input class='prompt-input' value='{{prompt}}' placeholder='chapter prompt'>
    <textarea value='{{episode}}' placeholder='add to the adventure...'></textarea>
    <input type='submit' value='submit chapter'>
  </form>
</div>